# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub-cache/
.pub/
build/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/ServiceDefinitions.json
*.iml

# VS Code
.vscode/

# Mac
.DS_Store

# Android Studio
.idea/
*.ipr
*.iws
*.bak
*.swp

# Others
*.log